@import './variables';

.container{
  width: 900px;
  margin: auto;
  font-family: 'Bai Jamjuree';
 background-color: getCol('background');
 color: getCol('text');
 padding-left: 50px;

}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.green{
  color: getCol('span');
}
.empty{
  width: 10px;
}
.flex-benefits{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.margin-left{
  margin-left: 50px;
}
.no-margin{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}